body{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#display {
  display: none;
}
#settings {
  background-color: lightblue;
  padding: 20px;
  border-radius: 5px;
  font-family: sans-serif;
}
#title {
  align-content: center;
  display:flex;
}